<ion-header>
  <ion-toolbar>
    <div (click)="closeClicked()">Close</div>
    <ion-title id="uniquetitleid">Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem
    recusandae ducimus quos reprehenderit. Veniam, molestias quos, dolorum
    consequuntur nisi deserunt omnis id illo sit cum qui. Eaque, dicta.
  </p>
  <ion-button (click)="closeClicked()" #ionButton tabindex="0" id="close">
    close
  </ion-button>
</ion-content>
